*{
    padding: 0;
    margin:0;
    font-family:'Josefin Sans', sans-serif;
    box-sizing: border-box;
    display: flexbox;
    outline: 0;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background: url(./assests/pexels-nemuel-sereti-6424589.jpg);
    background-size: cover;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    
}

.content{
    top: 50%;
    left: 8%;
    background-color: black;
    opacity: 0.5;
    padding: 55px ;
    display: block;   
}
   
section {
    padding: 2rem;
  }

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: red;
}

.About{
    width: 100%;
    padding: 20px;
    background-color: #191919;
    
}
.About img{
    height: auto;
    width: 400px;
    border-radius: 50%;
    margin-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.About h2{
    color: white;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }

  section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
  }
  section p {
    margin-bottom: 1.5rem;
  }

  section ul {
    list-style: square;
  } 

  hr{
    height: 1px;
    background-color: black;
    border: none;
}


.contact-left{
    background-color: black;
    opacity: 50%;
}

.lead{
    color: #fff;
}

.title{
    color: white;
}

.Education-Heading{
    background-color: #191919;
}

.Education{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.Training{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.Skills{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

#container-fluid{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

.panel-heading {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 1.5rem;
  }

  .panel{
    background-color: #f0f0f0;
    padding: 1rem;
  }

  .job-experience-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 1.5rem;
  }

  .grid-item {
    background-color: #f0f0f0;
    padding: 1rem;
  }

  ul{
    color: #191919;
  }



